version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=jukebox_db
      - POSTGRES_USER=jukebox_user
      - POSTGRES_PASSWORD=blen36
    ports:
      - "5432:5432"

volumes:
  postgres_data: